<div class="banner">
  <%= render "shared/navbar_home"%>
</div>
<div class="containerrecap">
  <h1> Récapitulatif de vos réservations</h1>
  <div class="container-table">
    <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">N°</th>
        <th scope="col">Du</th>
        <th scope="col">Au</th>
        <th scope="col">Montant</th>
        <th scope="col">Candidat</th>
        <th scope="col"></th>
        <th scope="col">Etat Réservation</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="bck-color">
      <% @bookings.each do |booking|  %>
      <tr>
        <th scope="row"><%= booking.id %></th>
        <% @info_id = booking.id %>
        <td><%= booking.start_date.strftime("%d/%m/%Y") %></td>
        <td><%= booking.end_date.strftime("%d/%m/%Y") %></td>
        <td><%= booking.total_price %>€</td>
        <td><%= booking.candidate.first_name %> <%= booking.candidate.last_name %></td>
        <td><%= link_to (image_tag "ArrowSquareOut.png", width: 20, height: 20 ), candidate_path(booking.candidate)%></td>
        <% if booking.status %>
          <td><span class="bfinish">Confirmée<span></td>
        <% else %>
          <td><span class="brun">En cours</span></td>
        <% end %>
        <td><%= link_to (image_tag "ChatCircleDots.png", width: 20, height: 20), new_booking_review_path(booking) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
<%= render "shared/footer"%>
