<div class="banner">
  <%= render "shared/navbar_home"%>
</div>
<div class="containerrecap">
  <h1> Récapitulatif de vos réservations</h1>
  <div class="container-table">
    <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">N° Résa</th>
        <th scope="col">Du</th>
        <th scope="col">Au</th>
        <th scope="col">Montant</th>
        <th scope="col">Candidat</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">Réservation</th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |booking|  %>
      <tr>
        <th scope="row"><%= booking.id %></th>
        <td><%= booking.start_date.strftime("%d/%m/%Y") %></td>
        <td><%= booking.end_date.strftime("%d/%m/%Y") %></td>
        <td><%= booking.total_price %>€</td>
        <td><%= booking.candidate.first_name %> <%= booking.candidate.last_name %></td>
        <td><%= image_tag "Vector.png", width: 20, height: 20, data: {toggle: "modal", target: "#exampleModal", value:"#{booking.id}" } %></td>
        <td><%= link_to (image_tag "ArrowSquareOut.png", width: 20, height: 20 ), candidate_path(booking.candidate) %></td>
        <% if booking.status %>
          <td class="bcktdof"><span class="bfinish">Confirmée<span></td>
        <% else %>
          <td class="bcktdon"><span class="brun">En cours</span></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <%# ....Modal add new reviews %>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Laisser un commentaire</h5>
          </div>
          <div class="flaglg">
            <%= image_tag 'flag_line.png', class: "img_flag"%>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-xs-4">
                  <%= simple_form_for @review do |f| %>
                    <%= f.input :comment, label: "Commentaire"%>
                    <%= f.input :rating, collection: (1..5).to_a, label: "Noter votre experience", class: "space-form-review" %>
                    <%= f.input :booking_id, :as => :hidden, :input_html => { :value => "" }  %>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <%= f.submit "Soumettre votre commentaire", class: "btn btn-primary" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <%# ....end Modal add new reviews %>
</div>
<%# comment %>
