<div class="banner">
  <%= render "shared/navbar_home"%>
</div>
<div class="containerrecap">
  <h1> Récapitulatif de vos Bookings</h1>
  <div class="container-table">
    <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">N° Résa</th>
        <th scope="col">Du</th>
        <th scope="col">Au</th>
        <th scope="col">Montant</th>
        <th scope="col">Candidate</th>
        <th scope="col">Status</th>
        <th scope="col">Booking</th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |booking|  %>
      <tr>
        <th scope="row"><%= booking.id %></th>
        <td><%= booking.start_date.strftime("%d/%m/%Y") %></td>
        <td><%= booking.end_date.strftime("%d/%m/%Y") %></td>
        <td><%= booking.total_price %>€</td>
        <td>"<%= booking.candidate.first_name %> <%= booking.candidate.last_name %>"</td>
        <td><%= booking.status ? "Terminé" : "En cours" %></td>
        <td><%= booking.status %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
