<div class="navbar navbar-expand-sm navbar-lewagon bckopa">
  <div class="container-fluid">
    <div class="logo">
      <a class="navbar-brand" href="#">
        <%= image_tag 'logo_b.png'%>
      </a>
      <div class="mr-auto p-2">
        <a class="title" href="/candidates">CANDILOC 2022</a>
      </div>
    </div>
    <!-- <div class="collapse navbar-collapse">
       <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <%= link_to "Sign-in", new_user_session_path, class: "nav-link"  %>
          </li>
          <li class="nav-item bck">
            <%= link_to "Sign-up", new_user_registration_path, class: "nav-link"  %>
          </li>
      </ul>
    </div> -->
    <% if user_signed_in? %>
      <div class="logo">
        <a class="nav-link" href="/bookings">
          Vos réservations
        </a>
        <div class="fuck-bootstrap">
          <a href="">
            <img src="https://images.alexonsager.net/pokemon/fused/143/143.25.png" width="30" height="30" alt="">
          </a>
        </div>
        <%= link_to "Sign-out", destroy_user_session_path, method: :delete, class: "nav-link"  %>
      </div>
    <% else %>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <%= link_to "Sign-in", new_user_session_path, class: "nav-link"  %>
            </li>
            <li class="nav-item bck">
              <%= link_to "Sign-up", new_user_registration_path, class: "nav-link"  %>
            </li>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="flaglg">
    <div class="blue"></div>
    <div class="white"></div>
    <div class="red"></div>
  </div>
</div>
