<%= cl_image_tag candidate.photos[0].key, class: "card-imag-list", alt: "Candiloc 2022", width: 232, height:200, gravity: "faces" %>
<h2><%= candidate.first_name %> <%= candidate.last_name %> </h2>
<p><%= candidate.address %></p>
<%# TODO : ADD LOGO DU PARTI %>
<p><%= candidate.political_party.name %></p>