<div class="banner">
</div>


<div class="container">
  <div class="show-card">
    <div class="intro-show-card">
      <div class="item-intro-show-card">
        <h1><%= @candidate.first_name %> <%= @candidate.last_name %></h1>
        <h2><%= @candidate.political_party.name %></h2>
        
      </div>
      <div class="item-intro-show-card">
        <% if @candidate.availability? %>
          <p class="status-show-candidate" id="available-button">Disponible</p>
        <% end %>
      </div>
    </div>

    <div class="pictures-show-card">
      <div class="picture-show-card-item">
          <img src="https://images.assetsdelivery.com/compings_v2/palinchak/palinchak1707/palinchak170700005.jpg" alt="">
      </div>
      <div class="picture-show-card-item pictures-size-small-show-card">
        <img src="https://images.assetsdelivery.com/compings_v2/palinchak/palinchak1707/palinchak170700003.jpg" alt="">
        <img src="https://images.assetsdelivery.com/compings_v2/palinchak/palinchak1807/palinchak180700164.jpg" alt="">
        <img src="https://images.assetsdelivery.com/compings_v2/palinchak/palinchak1707/palinchak170700003.jpg" alt="">
        <img src="https://images.assetsdelivery.com/compings_v2/palinchak/palinchak1807/palinchak180700164.jpg" alt="">
      </div>
    </div>

    <div class="button-show-card text-center mt-5">
      <button type="button" class="btn btn-action"><%= link_to "BOOKER CE CANDIDAT", new_candidate_booking_path(@candidate) %></button>
      
    </div>

    <div class="description-show-card"> 
      <div class="description-intro-show-card">
          <h1>Description</h1>
          <p class="status-show-candidate"></p>
          <p><%= @candidate.description %></p>
        </div>
        <div class="item-description-show-card">
          <p class="status-show-candidate"><%= @candidate.price_per_day %>€</p>
        </div>
    </div>

    <div class="rating-show-card"> 
      <span><i class="fas fa-star"></i> 0,01 / 5 - 666 Votes</span>
    </div>

    

    <div class="comments-show-card">
      <div class="comment">
        <i class="far fa-comment"></i>
        <%# <h3>User_name</h3>
        <p>YYYY / MM / DD</p> %>
      </div>
    </div>





  </div> <!--show card -->
</div> <!-- container -->

</div>
</div>
