<div class="body">
  <div class="banner">
    <%= render "shared/navbar_home"%>
  </div>

    <div class="wrapper">

      <div class="main-show-card">
        <div class="show-card">
          <div class="intro-show-card">
            <div class="item-intro-show-card">
              <h2 id="title-show-card"><%= @candidate.first_name %> <%= @candidate.last_name %></h2>
              <h3 id="title-show-card"><%= @candidate.political_party.name %></h3>
            </div>
            <div class="item-intro-show-card">
              <%= image_tag 'LREM-Large.png', alt: "La republique en marche", width: 160, height:40 %>
            </div>
          </div>

            <div class="container">
              <div class="Main_photo"><%= cl_image_tag @candidate.photos[0].key, width: 325, height: 325, crop: "fill" %></div>
              <div class="Thumb_1"><%= cl_image_tag @candidate.photos[1].key, width: 150, height: 150, crop: "fill", effect: "improve", gravity: "faces" %></div>
              <div class="Thumb_2"><%= cl_image_tag @candidate.photos[2].key, width: 150, height: 150, crop: "fill", effect: "improve", gravity: "faces" %></div>
              <div class="Thumb_3"><%= cl_image_tag @candidate.photos[3].key, width: 150, height: 150, crop: "fill", effect: "improve", gravity: "faces" %></div>
              <div class="Thumb_4"><%= cl_image_tag @candidate.photos[4].key, width: 150, height: 150, crop: "fill", effect: "improve", gravity: "faces" %></div>
            </div>

          <div class="description-show-card">
            <div class="item-description-show-card">
              <p><%= @candidate.description %></p>
            </div>
          </div>

          <%= image_tag 'flag_line.png', class: "img_flag"%>
          
          <div class="stats-show-card">
            <div class="stats">
              <%= image_tag "Star.png", alt: "Candiloc 2022", width: 18, height: 18 %><%= @candidate.score %></p>
              <i class="fa-solid fa-euro-sign"></i>
            </div>
          </div>

          <div class="comments-show-card">
          <h3>Commentaires</h3>
          <% @candidate.reviews.each do |review|  %>
            <div class="comment">
              <div class="comment-header">
                <p id="user-name"><%= current_user.last_name %></p>
                <p><%= review.created_at.strftime("%d/%m/%Y") %></p>
              </div>
              <div class="comment-body">
                <p id="comment-background"><%= review.comment %></p>
              </div>
            </div>
          <% end %>
          </div>
          <%= image_tag 'flag_line.png', class: "img_flag"%>

          <div class="candiloc_logo">
          </div>

        </div> <!--show card -->
      </div>

      <div class="sidebar">
        <h3>Reserver votre candidat</h3>
          <div class="button-show-card text-center mt-5">
            <button type="button" class="btn btn-action"><%= link_to "Réserver", new_candidate_booking_path(@candidate) %></button>
          </div>
      </div>

    </div> <!-- wrapper -->

<div class="show-footer">
  <%= render "shared/footer"%>
</div>

